{"filter":false,"title":"config.xml","tooltip":"/config.xml","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":78},"end":{"row":1,"column":79},"action":"remove","lines":["2"],"id":2}],[{"start":{"row":1,"column":78},"end":{"row":1,"column":79},"action":"insert","lines":["3"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":78},"end":{"row":1,"column":78},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1480833659371,"hash":"1204600c7453a83c26b6061893bc48f8630ae091"}