/**
 * block - Block text elements
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

/**
 * Lists
 *
 * */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;

  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

/**
 * Tables
 *
 * */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

/**
 * Code
 *
 * */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: lighten(@light-grey, 6.4%);
  border: 1px solid @light-grey;
  border-radius: @global-radius;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/**
 * Badge
 *
 * */
.badge {
  background-color: @primary-color;
  color: @white;

  padding: .2rem .4rem;
  margin: .5rem;
  border-radius: @global-radius;

  font-size: 10px;
  font-weight: 800;
}


/**
 * Alert
 *
 * */
.alert {
  background-color: @primary-color;
  color: @white;

  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: @global-radius;
  margin-bottom: 1rem;
  box-sizing: border-box;

  font-weight: 800;

  [data-toggle="dismiss"] {
    color: white;
  }
}

/**
 * Panel
 *
 * */
.panel {
  padding: 2rem 2rem;
  margin: 0 .2rem;
  border: 1px solid @border-color;
  border-radius: @global-radius;
  background-color: white;
}
