body {
  box-sizing: border-box;
  touch-action: manipulation;
}
.show-top {
  top: 30%!important;
}
.modal {
  box-sizing: border-box;
  touch-action: manipulation;
  display: none;
  position: fixed;
  left: 0;
  width: 94%;
  margin-left: 3%; 
  margin-right: 3%; 
  height: auto;
  background-color: #4b9070;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 199px rgba(0, 0, 0, 0.5);
}
.modal.active {
  display: block;
}
.modal header {
  position: relative;
}
.modal hr {
  text-align: center;
}
.modal .close {
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0;
}

.modal button {margin-right:5px}

.modal-test {
  touch-action: manipulation;
  box-sizing: border-box;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0 ;
  width: 94%;
  margin-left: 3%; 
  margin-right: 3%; 
  height: auto;
  background-color: #4b9070;
  padding: 25px;
  border-radius: 5px;
  z-index: 15;
}
.modal-test.active {
  display: block;
}
.modal-test header {
  position: relative;
}
.modal-test hr {
  text-align: center;
}
.modal-test .close {
  position: absolute;
  right: 0;
  margin: 0;
}

.modal-test button {margin-right:5px}

.icon {
  display: inline-block;
  font-size: inherit;
  font-family: 'ios7-icon';
  margin-right: 5px;
  color: inherit;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
}
.round-button {
  height: 100px;
  width: 100px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: black;
    background-color: #6898db;
    border-radius: 100%;
    overflow: none;
    text-align: center;
    padding:0;
    font-size: 300%;
    line-height: 200%
  }
  .round-button:before {
    content:'';
    display:inline-block;;
    vertical-align:middle;
    padding-top:100%;
  }
  .round-button span {
    display:inline-block;
    vertical-align:middle;
   /* max-width:90%; */
  }
  .round-button.reversed{
    color: white;
    background-color: #29405c;
  }
span.reversed,
div.reversed{
    color: white;
    background-color: #29405c;
}
