<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Retrotope Client.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CAA98F3C53F5AD88971C6A34C1D00A5838B82F4D</string>
				<key>dateExpires</key>
				<string>9/29/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RLH89CX485.com.bamboocando.retroclient</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RLH89CX485</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Retrotope Client.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>db5fd920-a978-431c-936a-e2be24e2bcb2</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.bamboocando.retroclient</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RLH89CX485</string>
				<key>name</key>
				<string>Jim Hinds</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
